@{
    ViewBag.Title = "За нас";
}
<h2>@ViewBag.Title</h2>

<br />

<div style="width:75%; padding:0 15px 15px 15px; text-align:justify">
    <p>Апликацијата е изработена како семинарска по предметот Кориснички Интерфејси.</p>
    <p>Оваа веб апликација има за цел да овозможи брзо и едноставно прегледување и наоѓање информации за археолошките локалитети во нашата држава .Ваквиот начин на прегледување на археолошките локалитети е доста едноставен, забавен, брз и прикладен како за странските туристи така и за домашните турсти и авантуристи заљубеници на историјата.План ни е во иднина оваа апликација да се прошири со можност за мултијазичност.</p>
    <p>Апликација беше изработена од студенти на факултетот за информатички науки и комјутерско инженерство </p>
    <ul>
        <li>Александар Ѓоргиевски</li>
        <li>Мартин Ристевски</li>
        <li>Јован Ивановски</li>
    </ul>
    <hr />
</div>